html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited {
    text-decoration: none;
}

body {
    background-color: #ddd;
}

blockquote {
    border-left: 4px solid #aaa;
    margin-left: 0;
    padding: 0.5rem;
    font-size: 1.5rem;

}

img {
    width: 100%;
    height: auto;
    margin: 0.5rem 0 0 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#head {
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #555;

    box-shadow: 4px 4px 6px #aaaaaa;
}

#head h1 {
    float: left;
    padding-left: 3rem;
    color: #ddd;
}

#nav ul {
    float: right;
    margin-right: 0.5rem;
    list-style-type: none;
}

#nav li {
    float: right;
    padding-right: 2rem;
    line-height: 70px;
}

#nav li a {
    color: #ddd;
}

#sidebar {
    float: right;
    width: 400px;
}

#main {
    margin-right: 480px;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: #555;
    color: white;
    font-size: 15px;
    line-height: 55px;
    text-align: center;
}

.default, .article {
    padding: 30px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 4px 4px 6px #aaaaaa;
}

h2 {
    font-size: 2rem;
    margin: 0.5rem 0 0.5rem 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
}

h4 {
    font-size: 1.3rem;
    margin: 0.5rem 0 0.5rem 0;
}

p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5rem 0 0.5rem 0;
}

td, th {
    font-size: 1em;
    border: 1px solid #777;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: rgba(0, 0, 0, 0.69);
    color: #ffffff;
}

tr.alt td {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.29);
}

ul {
    margin-left: 1rem;
}

li {
    line-height: 1.4rem;
}

.desc {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 0.5rem 0;
    color: #555;
}

#sidebar td :not(.right td) {
    text-align: left;
}

#sidebar td {
    border: none;
    padding: 8px;
}
#sidebar p{
    line-height: none;
}

.right {
    text-align: right;
}

.frame {
    float: left;
    width: 100px;
    height: 120px;
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 5px
}

.frame p {
    margin: 0;
}

.warn {
    color: #777;
}

input {
    font-size: 1rem;
    color: #fff;
}

#commit {
    font-size: 1rem;
    padding: 10px 170px;
    border: 0;
    border-radius: 8px;
    color: #fff;
    background: #6393ff;
}